.container {
	display: flex;
	margin: 0 auto;
	margin-bottom: 62px;
	padding: 47px 20px 0 20px;
	width: 100%;
	max-width: 1150px;
}

.layout {
	display: flex;
	width: 100%;
}

@media (max-width: 768px) {
	.container {
		padding-top: 32px;
		max-width: 680px;
	}
}

@media (max-width: 420px) {
	.container {
		padding-top: 8px;
		padding-left: 16px;
		padding-right: 16px;
		max-width: 328px;
	}
}

